@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body {
  background-color: #FFFCFF;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin: 10px;
}

/*HEADER*/
header {
  display: flex;
  justify-content: center;
}
header div .container-fluid {
  display: flex;
  justify-content: space-between;
}
header div .navbar-collapse {
  justify-content: flex-end;
  align-items: center;
}
header div .nav-link:hover {
  color: #247BA0;
  background-color: #FFFCFF;
  border: 1px solid rgba(36, 123, 160, 0.3960784314);
}
header div .nav-link :active {
  color: #ffbb00;
  border: 1px solid #ffbb00;
}
header div .carousel {
  position: relative;
  width: 75%;
}

hr {
  margin: 0;
  width: 100%;
}

/*FOOTER*/
footer {
  background-color: #247BA0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer div.footerinstagram, footer div.footerpaypal, footer div.footerwhatsapp, footer div.footerfacebook {
  display: flex;
  margin: 10px;
  align-items: center;
}
footer div li {
  list-style: none;
}
footer div li img {
  width: 25px;
  height: 25px;
  margin: 10px;
}
footer div a {
  color: #FFFCFF;
  text-decoration: none;
}
footer div a:hover {
  color: #50514F;
  text-decoration: underline;
}
footer div a:active {
  color: #ffbb00;
}
footer p {
  font-style: oblique;
  color: #FFFCFF;
}

main.index {
  padding: 30px 0px;
}
@keyframes colorChange {
  0% {
    color: red;
  }
  20% {
    color: yellow;
  }
  40% {
    color: yellowgreen;
  }
  60% {
    color: green;
  }
  75% {
    color: blue;
  }
  90% {
    color: purple;
  }
  100% {
    color: red;
  }
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
  }
  0% {
    font-family: "Roboto", sans-serif;
  }
  25% {
    font-family: "Poppins", sans-serif;
  }
  50% {
    font-family: "Lobster", cursive;
  }
  75% {
    font-family: "Courier Prime", monospace;
  }
  100% {
    font-family: "Roboto", sans-serif;
  }
}
main.index h1 {
  animation: colorChange 4s infinite;
  text-shadow: 3px 3px 5px rgba(95, 95, 95, 0.778);
}
main.index section.camisetastipo {
  display: flex;
  justify-content: center;
}
main.index section.camisetastipo div img.imagendiseño {
  width: 80%;
}
main.index section.camisetastipo div.accordion {
  width: 90%;
}
main.index section.camisetastipo div.textodiseño {
  margin: 20px;
  text-align: center;
}

main article.ubicacion {
  border: 2px black solid;
  border-radius: 6px;
  background-color: #dee8d4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main article.ubicacion iframe {
  width: 95%;
  margin: 15px;
}
main article.ubicacion h3 {
  margin: 20px 40px;
  font-size: 3rem;
  text-shadow: 3px 3px 5px rgba(95, 95, 95, 0.778);
}

aside.productos-servicios {
  margin: 20px;
}
aside.productos-servicios .filtro {
  display: flex;
  justify-content: center;
  align-items: center;
}
aside.productos-servicios .filtro img.filtrosimg {
  width: 40px;
  height: 40px;
  margin: 5px 20px;
}
aside.productos-servicios .filtro.filtros {
  display: flex;
  align-items: center;
  text-align: center;
}
aside.productos-servicios .filtro.filtros input {
  margin: 5px;
}
aside.productos-servicios .filtro.filtros label {
  margin-right: 10px;
}
aside.productos-servicios .orden {
  display: flex;
  justify-content: center;
  align-items: center;
}
aside.productos-servicios .orden img.ordenarimg {
  width: 40px;
  height: 40px;
  margin: 5px 20px;
}

main section.catalogo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section.catalogo .titulocatalogo {
  margin: 15px;
  color: #000000;
  text-shadow: 3px 3px 5px rgba(95, 95, 95, 0.778);
}
main section.catalogo article.productos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main section.catalogo article.productos div.rotate-in-center {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 2px solid #247BA0;
  background-color: #dee8d4;
  width: 35%;
  align-items: center;
  padding: 10px;
  margin: 10px;
  -webkit-animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
main section.catalogo article.productos div.rotate-in-center img.imgproducto {
  border: 2px solid #50514F;
  border-radius: 5px;
  width: 50%;
}
main section.catalogo article.productos div.rotate-in-center button {
  font-weight: 700;
  padding: 10px;
  background-color: #FFFCFF;
  transition: background-color 0.3s ease, font-size 0.3s ease, color 0.3s ease, border 0.3s ease;
}
main section.catalogo article.productos div.rotate-in-center button:hover {
  font-size: large;
  color: #FFFCFF;
  border: 2px solid #000000;
  background-color: #6bbf59;
}
main section.catalogo article.productos div.rotate-in-center button:active {
  color: #ffbb00;
  background-color: #08a045;
}

@-webkit-keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}
main article.otrosservicios {
  display: inline-block;
  height: 1250px;
  text-align: center;
  background-color: rgba(36, 123, 160, 0.3960784314);
  border: 5px solid #C3B299;
}
main article.otrosservicios h2 {
  text-shadow: 3px 3px 5px rgba(95, 95, 95, 0.778);
}
main article.otrosservicios img {
  display: inline-block;
  width: 300px;
  height: 325px;
  border: 2px solid #C3B299;
}
main article.otrosservicios p {
  margin: 5%;
}
main article.otrosservicios p span {
  font-weight: 600;
  font-style: italic;
}
main article.otrosservicios button:hover {
  font-weight: 600;
  font-size: large;
  padding: 1rem;
}

/*Main tallas-modelos.html*/
main.gctallasymodelosm {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  justify-content: space-evenly;
  width: 100%;
}
main.gctallasymodelosm h1 {
  margin-top: 30px;
}
main.gctallasymodelosm section.tallasymodelos {
  display: flex;
  align-items: center;
  width: 94%;
  margin: 3%;
  border: 1px solid #C3B299;
  background-color: #FFFCFF;
}
main.gctallasymodelosm section.tallasymodelos div.tallasymodelos {
  justify-content: space-around;
}
main.gctallasymodelosm section.tallasymodelos div.modelmedid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main.gctallasymodelosm section.tallasymodelos div.modelmedid img.modelo {
  width: 70%;
  margin: 2%;
  border: 1px solid #C3B299;
  border-radius: 3%;
}
main.gctallasymodelosm section.tallasymodelos div.modelmedid img.medidas {
  width: 96%;
  margin: 2%;
  border: 1px solid #C3B299;
}
main.gctallasymodelosm section.tallasymodelos div.textotallasymodelos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px 10px;
}
main.gctallasymodelosm section.tallasymodelos div.textotallasymodelos p {
  text-align: justify;
}

@media (max-width: 950px) {
  main section.tiposdediseño h1 {
    font-size: 40px;
  }
  main section.tiposdediseño section.camisetastipo button.diseño {
    font-size: 25px;
  }
  main section.tiposdediseño section.camisetastipo img.imagendiseño {
    height: 200px;
  }
  article.ubicación h3 {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  main section.tiposdediseño section.camisetastipo button.diseño {
    font-size: 25px;
  }
  main section.tiposdediseño section.camisetastipo p.textodiseño {
    font-size: 12px;
  }
  article.ubicación {
    width: 80%;
  }
}
@media (max-width: 500px) {
  main section.tiposdediseño section.camisetastipo img.imagendiseño {
    height: 175px;
  }
}
@media (max-width: 1260px) {
  main article.otrosservicios {
    height: 1250px;
  }
}
@media (max-width: 993px) {
  main article.otrosservicios {
    height: 1460px;
  }
}
@media (max-width: 768px) {
  aside article fieldset.filtros {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  aside article fieldset.filtros input {
    margin: 0px;
  }
  aside article fieldset.filtros label {
    margin-right: 0px;
  }
  aside article img.filtrosimg {
    margin: 0%;
    width: 30px;
    height: 30px;
  }
  aside article img.ordenarimg {
    width: 30px;
    height: 30px;
  }
  main.productos-servicios article.otrosservicios {
    height: 900px;
  }
  main.productos-servicios article.otrosservicios img {
    width: 250px;
    height: 235px;
  }
  main.productos-servicios article.otrosservicios p {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  main.productos-servicios article.otrosservicios {
    height: 800px;
  }
  main.productos-servicios article.otrosservicios p {
    font-size: 11px;
  }
}
@media (max-width: 1024px) {
  section.tallasymodelos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  section.tallasymodelos div.imgmodelo {
    width: 90%;
    margin: 5%;
  }
  section.tallasymodelos div.textotallasymodelos {
    width: 90%;
    margin: 5%;
  }
  section.tallasymodelos div.textotallasymodelos p {
    font-size: 14px;
  }
  section.tallasymodelos div.imgmedidas {
    width: 90%;
    margin: 5%;
  }
}

/*# sourceMappingURL=main.css.map */
