/*HEADER*/

header {
    display: flex;
    justify-content: center;
    div{
        .container-fluid{
            @include caja(flex, space-between);
        }
        .navbar-collapse{
            justify-content: map-get($justi, f-end);
            align-items: map-get($align, cent);
        }
        .nav-link{
            &:hover{
                color: $color2;
                background-color: $color5;
                border: 1px solid $color10;
            }
            :active{
                color: $color7;
                border: 1px solid $color7;
            }
        }
        .carousel {
            position: relative;
            width: 75%;
        }
    }
}
hr{
    margin: 0;
    width: 100%;
}
