@media (max-width: 1024px){
    section.tallasymodelos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        div.imgmodelo{
            width: 90%;
            margin: 5%;
        }
        div.textotallasymodelos{
            width: 90%;
            margin: 5%;
            p{
                font-size: 14px;
            }
        }
        div.imgmedidas{
            width: 90%;
            margin: 5%;
        }
    }
}